.wp-block-create-block-rive-spline-block {
    display: inline-block !important;
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}